# Q1

In [ ]:
"""
What is a database? Differentiate between SQL and NoSQL databases.
"""

In [ ]:
"""
A database is an organized collection of structured information, or data, typically stored electronically in a computer system
SQL databases are table-based, 
while NoSQL databases are document, key-value, graph, or wide-column stores.
"""

# Q2

In [ ]:
"""
What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""

In [ ]:
"""
DDL is an abbreviation of Data Definition Language. 
The DDL Commands in Structured Query Language are used to create and modify the schema of the database and its objects.

Create: 
CREATE is a DDL command used to create databases, tables, triggers and other database objects.

Eg.. Create Database Books;  

DROP:
DROP is a DDL command used to delete/remove the database objects from the SQL database

Eg.. DROP DATABASE Database_Name;  

ALTER:
ALTER is a DDL command which changes or modifies the existing structure of the database, 
and it also changes the schema of database objects.

Eg.. ALTER TABLE Student ADD Father's_Name Varchar(60);  

TRUNCATE:
TRUNCATE is another DDL command which deletes or removes all the records from the table.

Eg.. TRUNCATE TABLE Student;  
"""

# Q3

In [ ]:
"""
What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""

In [ ]:
"""
The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language

INSERT:
Insert command is used to insert data into a table.

Eg.. Insert into Employee(Emp_id, Emp_name) values (001, “ bhanu”);

UPDATE:
Update command is used to update existing data within a table.

Eg.. UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

DELETE:
Delete command is used to delete records from a database table.

Eg.. DELETE from Employee WHERE Emp_id=002;
"""

# Q4

In [ ]:
"""
What is DQL? Explain SELECT with an example.
"""

In [ ]:
"""
DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.

SELECT:
Select command is used to retrieve data from the database.

Eg.. SELECT * from Employee;
"""

# Q5

In [ ]:
"""
Explain Primary Key and Foreign Key.
"""

In [ ]:
"""
Primary Key:
A primary key is used to ensure that data in the specific column is unique.

Foreign Key:
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.
"""

# Q6

In [ ]:
"""
Write a python code to connect MySQL to python. 
Explain the cursor() and execute() method.
"""

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
    
"""
cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.
execute() method : This method executes the given database operation
"""

# Q7

In [ ]:
"""
Give the order of execution of SQL clauses in an SQL query.
"""

In [ ]:
"""
1. from
2. where
3. groupby
4. having
5. select
6. order by
7. limit
"""